<!DOCTYPE html>
<html lang="config">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="googlebot" content="noindex, nofollow" />
<title>configuration</title>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{{ url_for('static',filename='config.css') }}"
	rel="stylesheet" type="text/css" />
<script src="{{ url_for('static',filename='JQuery.js') }}"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<style>
.modal-backdrop {
	z-index: 0;
}
</style>
<body>
	<div class="row">
		<div class="col-xs-3">
			<div class="defaultLeftMenu">
				<div class="defaultLeftList">
					<div class="defaultLeftContent">
						<div class="text-center defaultListTitle">
							<span>menu</span>
						</div>
						<!-- 利用data-target指定要折叠的分组列表 -->
						<div class="panel-heading" id="collapseListGroupHeading1"
							data-toggle="collapse" data-target="#collapseListGroup1"
							role="tab">
							<h5 class="text-center">
								configuration &nbsp; <span
									class="glyphicon glyphicon-menu-down down"> </span>
							</h5>
						</div>
						<!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
						<div id="collapseListGroup1" class="panel-collapse collapse in"
							role="tabpanel" aria-labelledby="collapseListGroupHeading1">
							<ul class="text-center solutionList">
								<li role="presentation" class="linkactive"><a
									href="#tab1-1" aria-controls="tab1-1" role="tab"
									data-toggle="tab">config</a></li>
								<li role="presentation"><a href="#tab1-2"
									aria-controls="tab1-2" role="tab" data-toggle="tab">sys_cfg</a></li>
							</ul>
						</div>
						<!-- 利用data-target指定要折叠的分组列表 -->
						<!-- 	<div class="panel-heading" id="collapseListGroupHeading3"
							data-toggle="collapse" data-target="#collapseListGroup3"
							role="tab">
							<h5 class="text-center">
								xx &nbsp; <span class="glyphicon glyphicon-menu-right right">
								</span>
							</h5>
						</div>
						.panel-collapse和.collapse标明折叠元素 .in表示要显示出来
						<div id="collapseListGroup3" class="panel-collapse collapse "
							role="tabpanel" aria-labelledby="collapseListGroupHeading3">
							<ul class="text-center solutionList">
								<li role="presentation"><a href="#tab3-1"
									aria-controls="tab3-1" role="tab" data-toggle="tab"> xx1 </a></li>
							</ul>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-9 defaultRightPanel">
			<div class="defaultPanelBody">
				<div class="tab-content">
					<!-- TAB选项1-1内容 -->
					<div role="tabpanel" class="tab-pane active" id="tab1-1">
						<!-- 选项卡菜单-->
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li class="active"><a href="#EmailSetting" role="tab"
								data-toggle="tab">EmailSetting</a></li>
							<li><a href="#General" role="tab" data-toggle="tab">General</a></li>
							<li><a href="#Engines" role="tab" data-toggle="tab">Engines</a></li>
							<li><a href="#EngineSetting" role="tab" data-toggle="tab">EngineSetting</a></li>
						</ul>
						<!-- 选项卡面板 -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="EmailSetting">
								<input type="hidden" id="EmailS" value="EmailSetting">
								<div class="col-sm-5">
									<!-- ----------	 -->
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">enable</label>
										<div class="col-sm-9">
											<select class="form-control" id="EngineSet_enable">
												<option value="yes">yes</option>
												<option value="no">no</option>
											</select>
										</div>
									</div>
									<!-- ----------	 -->
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">host</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="EngineSet_host"
												value="">
										</div>
									</div>
									<!-- ----------	 -->
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">port</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="EngineSet_port"
												value="">
										</div>
									</div>
									<!-- ----------	 -->
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">encrypt</label>
										<div class="col-sm-9">
											<select class="form-control" id="EngineSet_encrypt">
												<option value="ssl">ssl</option>
												<option value="tls">tls</option>
												<option value="no_ssl">no_ssl</option>
											</select>
										</div>
									</div>
									<!-- ----------	 -->
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">sender</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="EngineSet_sender"
												value="">
										</div>
									</div>
									<!-- ----------	 -->
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">password</label>
										<div class="col-sm-9">
											<input type="password" class="form-control"
												id="EngineSet_password" value="">
										</div>
									</div>
									<!-- ----------	 -->
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">receiver</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"
												id="EngineSet_receiver" value="">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-9"></div>
										<div class="col-sm-3">
											<input type="button" class="btn btn-success"
												data-toggle="modal" data-target="#ESet_btn" value="修改"
												onclick="EngineSet_btn()" style="margin-top: 10px;">
										</div>
									</div>
									<!-- ----------	 -->
								</div>
								<div class="modal fade" id="ESet_btn" tabindex="-1"
									role="dialog" aria-labelledby="ESet_btnLabel">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button data-dismiss="modal" class="close" type="button">
													<span aria-hidden="true">×</span><span class="sr-only">Close</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="table-responsive">
													<table class="table" id="Email_Setting_status">
														<thead>
															<tr>
																<th>entry</th>
																<th>status</th>
															</tr>
														</thead>
														<tbody id="Email_Setting_status">
														</tbody>
													</table>
												</div>
											</div>
											<div class="modal-footer">
												<button data-dismiss="modal" class="btn btn-default"
													type="button">关闭</button>
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
							</div>
							<!-- ----------	 -->
							<div class="tab-pane fade" id="General">General</div>
							<div class="tab-pane fade" id="Engines">Engines</div>
							<div class="tab-pane fade" id="EngineSetting">EngineSetting</div>
						</div>
					</div>

					<!-- TAB选项1-2内容 -->
					<div role="tabpanel" class="tab-pane " id="tab1-2">
						<div class="defaultPanelHead">
							<span class="defaultPanelTitle">
								<h4>sys_cfg.ini</h4>
							</span>
						</div>
						<div class="defaultPanelContent">
							<div></div>
						</div>
					</div>
					<!-- TAB选项一-内容 -->
					<!-- <div role="tabpanel" class="tab-pane " id="tab3-1">
						<div class="defaultPanelHead">
							<span class="defaultPanelTitle">
								<h4>1</h4>
							</span>
						</div>
						<div class="defaultPanelContent">
							<div>
								<p>1</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery1.11.3 (necessary for Bo otstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files
as needed -->
	<!-- 切换折叠指示图标 -->
	<script>
  $(function() {
    $(".panel-heading").click(function(e) {
      $(this).find("span").toggleClass("glyphicon-menu-right");
      $(this).find("span").toggleClass("glyphicon-menu-down");
    });

    $(".solutionList li").click(function() {
      $(".solutionList .linkactive").removeClass('linkactive');
      $(this).addClass('linkactive');
    });
  });
</script>


	<script type="text/javascript">
    //获取发布模块类型
    function getModuleInfo() {
      $.ajax({
        type: "GET",
        dataType: "JSON",
        url: "/config/data",
        success: function(data) {
     	if(data[0][1] == "yes"){
        $("#EngineSet_enable option[value='yes']").attr('selected',true);
    	}else {
        $("#EngineSet_enable option[value='no']").attr('selected',true);
    	};
    	 $("#EngineSet_host").val(data[1][1]);
    	 $("#EngineSet_port").val(data[2][1]);
    	 
    	if(data[3][1] == "ssl"){
        $("#EngineSet_encrypt option[value='ssl']").attr('selected',true);
    	}else if(data[3][1] == "tls"){
        $("#EngineSet_encrypt option[value='tls']").attr('selected',true);
    	}else{
        $("#EngineSet_encrypt option[value='no_ssl']").attr('selected',true);
    	};
    	 
    	 $("#EngineSet_sender").val(data[4][1]);
    	 $("#EngineSet_password").val(data[5][1]);
    	 $("#EngineSet_receiver").val(data[6][1]);
    	 
    	 $("#Email_Setting_hid").val([data[0][0],data[1][0],data[2][0],data[3][0],data[4][0],data[5][0]],data[6][0]);
    	 
    	 
        },
        error: function(data) {
          alert("加载失败");
        }
      });
    }
    $(function() {
      getModuleInfo();
    });
  </script>
	<script type="text/javascript">
function EngineSet_btn(){
	var  EngineSetting =  $("#EmailS").val();

	 var options_enable = $("#EngineSet_enable option:selected");
	 var enable = options_enable.val();
//	alert(enable);
	 
	 var host =  $("#EngineSet_host").val();
	// alert(host);
	 
	 var port =  $("#EngineSet_port").val();
	 //alert(port);
	 
	 var options_encrypt = $("#EngineSet_encrypt option:selected");
	 var encrypt = options_encrypt.val();
	 //alert(encrypt);
	 
	 var sender =  $("#EngineSet_sender").val();
	 //alert(sender);
	 
	 var password =  $("#EngineSet_password").val();
	 //alert(password);
	 
	 var receiver =  $("#EngineSet_receiver").val();
	 //alert(receiver);
    	 $.ajax({
         url:"/config_interaction",
         type:"GET",
         data:{
         title:EngineSetting,
         enable:enable,
         host:host,
         port:port,
         encrypt:encrypt,
         sender:sender,
         password:password,
         receiver:receiver   
         },
         success:function (data) {
         for(var i in data){
           tr = '<td >'+i+'</td>'+
            	'<td >'+data[i]+'</td>'
              	$("#Email_Setting_status").append('<tr class="parent" >'+tr+'</tr>') 
         }
         
		 }
	});
 }; 
  </script>

	<script>
$(function(){
    $("#ESet_btn").on("shown.bs.modal",function(){
      alert("数据插入完成，请查看");
    });
});
</script>
	<script src="{{ url_for('static',filename='config.js') }}"></script>
</body>
</html>

